@import "../../styles/mixins.scss";


.button {
  background: #fff;

  box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  border-radius: 5px;
  border-style: solid;
  box-sizing: border-box;

  @include defaultFont;

  text-transform: uppercase;

  color: #212121;
  cursor: pointer;
  display: inline-block;

  width: 250px;
  height: 50px;

  transition: 0.3s;



  &:hover {
    transform: scale(1.05);

  }
}

