@import "../../styles/mixins.scss";


.memoryCardsPage {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  h1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    @include defaultFont;
    font-size: 40px;
  }

  &_selectContainer {
    display: flex;

    margin-left: auto;
    margin-right: auto;

  }

  &_buttonContainer {
    display: flex;

    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    justify-content: space-between;
  }

  &_middleButtonContainer {
    display: flex;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

  }

}
